@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 330 10% 15%;
    --card: 0 0% 100%;
    --card-foreground: 330 10% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 330 10% 15%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 330 5% 96%;
    --secondary-foreground: 330 10% 15%;
    --muted: 330 5% 96%;
    --muted-foreground: 330 5% 45%;
    --accent: 330 30% 90%;
    --accent-foreground: 346.8 77.2% 49.8%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 355.7 100% 97.3%;
    --border: 330 6% 90%;
    --input: 330 6% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
    --chart-1: 346.8 77.2% 49.8%; /* rose-500 */
    --chart-2: 333.3 71.4% 50.6%; /* pink-600 */
    --chart-3: 330.4 81.8% 60.4%; /* fuchsia-500 */
    --chart-4: 327.4 87.1% 68.6%; /* purple-500 */
    --chart-5: 322.1 65% 54.9%; /* violet-600 */
  }

  .dark {
    --background: 330 10% 10%;
    --foreground: 330 5% 98%;
    --card: 330 10% 15%;
    --card-foreground: 330 5% 98%;
    --popover: 330 10% 15%;
    --popover-foreground: 330 5% 98%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 330 10% 20%;
    --secondary-foreground: 330 5% 98%;
    --muted: 330 10% 20%;
    --muted-foreground: 330 5% 60%;
    --accent: 330 10% 25%;
    --accent-foreground: 330 5% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 330 5% 98%;
    --border: 330 10% 20%;
    --input: 330 10% 20%;
    --ring: 346.8 77.2% 49.8%;
    --chart-1: 346.8 77.2% 49.8%; /* rose-500 */
    --chart-2: 333.3 71.4% 50.6%; /* pink-600 */
    --chart-3: 330.4 81.8% 60.4%; /* fuchsia-500 */
    --chart-4: 327.4 87.1% 68.6%; /* purple-500 */
    --chart-5: 322.1 65% 54.9%; /* violet-600 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
